@inherits LayoutComponentBase

<img id="kanji" src="/images/judo-kanji-nb-min.png" style="opacity: 0.3;  position: absolute;  left: 0;   top: 0;   width: auto; top:25%;  height: 50%; ">

<FluentLayout style="position:relative;">
    <FluentGrid Justify="JustifyContent.Center" Style="width:100%">
        <FluentGridItem xs="10">

        </FluentGridItem>

        <FluentGridItem xs="2" Justify="JustifyContent.FlexEnd">
            <a href="/swagger" target="_blank">API</a>
            <FluentSpacer Width="20" />
            <a href="https://github.com/GhislainL/FightIpsum" target="_blank">Github</a>
        </FluentGridItem>
        <FluentGridItem xs="4">

        </FluentGridItem>

        <FluentGridItem xs="4" Justify="JustifyContent.Center">
            <h1 style="visibility: hidden; text-indent: -33333px;">
                JudoIpsum
            </h1>
            <img src="/images/JudoIpsum-min.png" alt="JudoIpsum Logo" style="width:auto; height:auto;" />
        </FluentGridItem>

        <FluentGridItem xs="4">
        </FluentGridItem>
        @Body
        <FluentGridItem xs="4">
        </FluentGridItem>

        <FluentGridItem xs="4" Justify="JustifyContent.Center">
            <a href="https://www.linkedin.com/in/ghislainlerda/" target="_blank">LinkedIn</a>
            <FluentSpacer Width="20" />
            <a href="https://github.com/GhislainL/JudoIpsum" target="_blank">Github</a>
            <FluentSpacer Width="20" />
            <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor" target="_blank">Blazor</a>
        </FluentGridItem>

        <FluentGridItem xs="4">
        </FluentGridItem>
    </FluentGrid>
</FluentLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
