<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.min.css" />
    <link rel="stylesheet" href="FightIpsum.styles.css" />
    <link rel="icon" type="image/png" href="favicon16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="favicon32.png" sizes="32x32" />

    <meta name="description" content="JudoIpsum is a Lorem Ipsum generator with judo and jujitsu techniques">
    <meta name="author" content="Ghislain Lerda">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.judoipsum.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="JudoIpsum">
    <meta property="og:description" content="JudoIpsum is a Lorem Ipsum generator with judo and jujitsu techniques">
    <meta property="og:image" content="https://www.judoipsum.com/judoipsum-og-min.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="www.judoipsum.com">
    <meta property="twitter:url" content="https://www.judoipsum.com/">
    <meta name="twitter:title" content="JudoIpsum">
    <meta name="twitter:description" content="JudoIpsum is a Lorem Ipsum generator with judo and jujitsu techniques">
    <meta name="twitter:image" content="https://www.judoipsum.com/judoipsum-og-min.jpg">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
