<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="FightIpsum.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="JudoIpsum">
    <meta property="og:url" content="https://judoipsum.ghislain-lerda.fr">
    <meta property="og:image" content="https://judoipsum.ghislain-lerda.fr/judoipsum-og-min.png">
    <meta property="og:description" content="JudoIpsum is a Lorem Ipsum generator with judo and jujitsu techniques">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
